{{extend 'layout.html'}}

<div class="row justify-content-center">
  <div
    id="web2py_user_form"
    class="col-lg-6 col-md-8 col-sm-12 dark-form shadow-sm rounded p-4"
  >
    <h2 class="text-center">
      {{=T('Sign Up') if request.args(0)=='register' else T('Log In') if
      request.args(0)=='login' else T(request.args(0).replace('_',' ').title())}}
    </h2>

    {{=form}}

    {{if request.args(0)=='login' and not 'register' in auth.settings.actions_disabled:}}
      <div class="text-center mt-2">
        <a href="{{=URL('user/register')}}" class="text-primary">{{
          =T('Create an Account')
        }}</a>
      </div>
    {{pass}}

    {{if request.args(0)=='login' and not 'retrieve_password' in auth.settings.actions_disabled:}}
      <div class="text-center mt-2">
        <a href="{{=URL('user/retrieve_password')}}"
          class="text-danger">{{
          =T('Forgot Password?') }}</a>
      </div>
    {{pass}}

    {{if request.args(0)=='register':}}
      <div class="text-center mt-2">
        <a href="{{=URL('user/login')}}" class="text-primary">{{
          =T('Already have an account? Log in')
        }}</a>
      </div>
    {{pass}}
  </div>
</div>

{{block page_js}}
<script>
  document.addEventListener("DOMContentLoaded", function () {
    // Autofocus first visible input field
    const firstInput = document.querySelector(
      "#web2py_user_form input:visible:enabled:first"
    );
    if (firstInput) firstInput.focus();

    // Password Strength Validation
    {{if request.args(0)=='register':}}
    document
      .getElementById("auth_user_password")
      .addEventListener("input", function () {
        const password = this.value;
        let strengthMessage = "";
        if (password.length < 8) {
          strengthMessage = "Password must be at least 8 characters long.";
        } else if (!/[A-Z]/.test(password) || !/[0-9]/.test(password)) {
          strengthMessage =
            "Password should include at least one uppercase letter and one number.";
        }
        document.getElementById("passwordStrengthMessage").innerText =
          strengthMessage;
      });
    {{pass}}
  });
</script>
{{end page_js}}
