<option value="{{ location.id }}" {% if location.is_site %}disabled{% endif %}>
    {% if location.is_site %}
        🏢 {{ location.name }}
    {% else %}
        {% if location.parent_location.is_site %}
            📦 {{ location.name }}
        {% else %}
            🔧 {{ location.name }}
        {% endif %}
    {% endif %}
</option>
{% if not location.is_site %}
    {% for child in location.child_locations_sorted %}
        {% include 'core/location_options.html' with location=child %}
    {% endfor %}
{% endif %}